.about {
	padding-bottom: 2rem;

	&-content {
		padding: 0 1.5rem;
		text-align: center;
	}

	&-title {
		margin: 1rem 0;
	}

	&-text {
		margin-bottom: 2rem;
	}

	&-box {
		margin-bottom: 1rem;

		&__header {
			background-color: $pale-red;
			margin-left: 1.5rem;
			margin-bottom: 0.5rem;
		}

		span {
			background-color: $bright-red;
			color: $light-gray;
			width: 3.5rem;
			height: 2.15rem;
			border-radius: 100px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 0.9rem;
			font-weight: 500;
		}

		h3 {
			font-size: 0.9rem;
			display: inline;
			margin-left: 0.5rem;
		}

		&__text {
			padding: 0 1rem;
		}
	}
}

@media (min-width: $large-screens) {
	.about {
		padding: 6rem 0;

		&-content {
			padding: 0;
			text-align: left;
		}

		&-title {
			margin-top: 0;
			margin-bottom: 2rem;
			max-width: 37.5rem;
		}

		&-text {
			max-width: 25rem;
		}

		.container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		&-box {
			margin-bottom: 2rem;

			&__header {
				margin-left: 0;
				margin-bottom: 1rem;
				background-color: transparent;
			}

			span {
				width: 4rem;
				height: 2.5rem;
			}

			h3 {
				font-size: 1rem;
				margin-left: 1.5rem;
			}

			&__text {
				padding-left: 6rem;
			}
		}
	}
}
