.footer {
	background-color: $dark-gray;
	padding: 4rem 1.5rem 6rem;
	position: relative;

	.container {
		display: flex;
		flex-direction: column-reverse;
	}

	&-email {
		$height: 2.75rem;

		form {
			display: flex;
			gap: 0.75rem;
		}

		input {
			height: $height;
			flex-grow: 1;
			border: none;
			font-family: inherit;
			padding: 0 1rem;
			border-radius: 100px;
			font-size: 0.75rem;
		}

		button {
			height: $height;
			width: 5rem;
			background-color: $bright-red;
			color: $light-gray;
			font-family: inherit;
			font-weight: 700;
			border: none;
			border-radius: 100px;
			text-transform: uppercase;
		}
	}

	.copyright {
		font-size: 0.8rem;
		position: absolute;
		bottom: 2rem;
		left: 0;
		display: block;
		width: 100%;
		text-align: center;
	}

	&-links {
		display: flex;
		justify-content: space-between;
		margin: 2rem 0;
		padding: 0 1.5rem;

		a {
			color: $light-gray;
			padding: 0.5rem 0;
			display: inline-block;
		}
	}

	&-header {
		display: flex;
		flex-direction: column-reverse;

		&__logo {
			img {
				margin: 0 auto;
			}
		}
	}

	.social-media {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		margin-bottom: 4rem;
		padding: 0 1rem;

		svg {
			width: 100%;
			max-width: 50px;
			height: auto;
			fill: $light-gray;
		}
	}
}

@media (min-width: $large-screens) {
	.footer {
		.container {
			flex-direction: row;
			justify-content: space-between;
		}

		&-header {
			flex-direction: column;
			justify-content: space-between;
		}

		&-links {
			flex-grow: 1;
			margin: 0;
			padding: 0;
			justify-content: space-evenly;

			a:hover {
				color: $bright-red;
			}
		}

		.social-media {
			margin-bottom: 0;

			svg:hover {
				cursor: pointer;
				fill: $bright-red;
			}
		}

		&-email {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			input {
				width: 200px;
			}

			button:hover {
				background-color: lighten($bright-red, 10%);
				cursor: pointer;
			}
		}

		.copyright {
			position: unset;
			text-align: right;
		}
	}
}
