.hero {
	padding: 0 1.5rem 4rem;
	text-align: center;

	.container {
		display: flex;
		flex-direction: column-reverse;
	}

	&-title {
		font-size: 2rem;
		margin: 1rem 0;
	}

	&-text {
		margin-bottom: 1rem;
	}
}
