.hero {
	padding: 0 1.5rem 4rem;
	text-align: center;

	.container {
		display: flex;
		flex-direction: column-reverse;
	}

	&-title {
		font-size: 2rem;
		margin: 1rem 0;
	}

	&-text {
		margin-bottom: 1rem;
	}

	&-image {
		img {
			margin: 0 auto;
		}
	}
}

@media (min-width: $large-screens) {
	.hero {
		padding: 8rem 0;
		text-align: left;

		.container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}

		&-title {
			font-size: 3.5rem;
			max-width: 37.5rem;
		}

		&-text {
			max-width: 25rem;
		}

		&-image {
			justify-self: end;
		}
	}
}
