.menu {
	padding: 3rem 1.5rem;
	position: relative;

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		padding: 2rem 1.5rem;
		height: 83px;
	}

	&-logo {
		max-width: 120px;
	}

	&-close {
		display: none;
		visibility: hidden;
	}

	&-nav {
		display: none;
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		background: linear-gradient($light-gray-opacity, $dark-gray-opacity);
		width: 100%;
		height: 100vh;
		padding: 6rem 1.5rem 0;
		z-index: 50;

		ul {
			background-color: white;
			padding: 2rem 1.5rem;
			border-radius: 4px;
		}

		li {
			padding: 0.75rem 0;
			text-align: center;
		}

		a {
			color: $dark-blue;
			font-weight: 700;
		}
	}

	.btn {
		display: none;
		visibility: hidden;
	}
}

.menu[data-open="true"] {
	.menu-close {
		display: block;
		visibility: visible;
	}

	.menu-open {
		display: none;
		visibility: hidden;
	}

	.menu-nav {
		display: block;
		visibility: visible;
	}
}
