.simplify {
	padding: 6rem 0;
	text-align: center;
	background: $bright-red url("./../images/bg-simplify-section-mobile.svg") no-repeat 0 50%;

	h2 {
		color: $light-gray;
		font-size: 2.25rem;
		max-width: 20rem;
		margin: 0 auto 2rem;
	}
}
