.testimonials {
	text-align: center;
	padding-bottom: 2rem;

	@media (min-width: $large-screens) {
		padding-bottom: 10rem;
	}

	&-title {
		margin-bottom: 2rem;
	}

	&-container {
		overflow: hidden;
	}

	.slides {
		display: flex;

		@media (min-width: $large-screens) {
			gap: 1rem;
		}
	}

	&-card {
		background-color: $light-gray;
		padding: 4rem 2rem 2rem;
		position: relative;
		margin: 2rem 0;
		top: 0;
		left: 0;
		flex-shrink: 0;
		flex-grow: 1;
		flex-basis: 100vw;

		@media (min-width: $large-screens) {
			flex-basis: auto;
		}

		h2 {
			font-size: 1rem;
			margin-bottom: 1.5rem;
		}

		p {
			max-width: 470px;
			margin: 0 auto;
		}

		img {
			$img-size: 5rem;
			height: $img-size;
			width: $img-size;
			position: absolute;
			top: -2rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.slides-control {
		margin-bottom: 2rem;

		.control {
			$control-size: 10px;
			width: $control-size;
			height: $control-size;
			display: inline-block;
			border: solid 1px $bright-red;
			border-radius: 50%;
			margin: 0 2px;
		}

		.active {
			background-color: $bright-red;
		}
	}
}
